
@{
    ViewBag.Title = "Grafik2";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="width:500px; height:500px; margin-top:10px;">
    <img src="@Url.Action("Grafik2","Grafik")" />
</div>

