
@{
    ViewBag.Title = "Grafik";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div style="width:600px; height:600px; margin-top:10px;">
    <img src="@Url.Action("Grafik","Grafik")" />
</div>

